.header{
    background-color: rgb(231, 23, 169);
    text-align: center;
    margin-top: 30px; 
}

.main-image{
    background-color: rgb(235, 153, 46);
    text-align: center;
    margin-top: 100px;    
}
